# Pickle files
*.pkl

# Images
*.png

*.json

# CSV files
data/archiv/dataset
data/dataset_storage/step_1
data/dataset_storage/step_2
data/dataset_storage/final
data/dataset_storage/csv_data_all

__pycache__/

# Data folders
transformer/kronos/train/data
transformer/kronos/train/outputs
transformer/kronos/train/wandb
transformer/kronos/train/backtest_results

# Pyenv
.python-version