# Pickle files
*.pkl

# Images
*.png

*.json

# CSV files
data/archiv
data/data_storage_bitget/step_1
data/data_storage_bitget/step_2
data/data_storage_bitget/final
data/data_storage_bitget/csv_data_all_bitget

__pycache__/

# Data folders
transformer/kronos/train/data
transformer/kronos/train/outputs
transformer/kronos/train/wandb
transformer/kronos/train/backtest_results

# Pyenv
.python-version

.venv